<div class="container">
  <div class="row">

  <div class="col-md-10">
    <div class="col-3 text-center">
      <h3 class="bg-light">検索結果</h3>
    </div>

    <div class=" row search-items d-flex flex-wrap mt-5">
      <% @items.each do |f| %>
      <div class="col-3 search-item">
        <div class="image-box">
          <%= link_to item_path(f.id) do %>
            <%= image_tag f.image, size: "200x150" %>
          <% end %>
        </div>
        <p><strong><%= f.name %></strong><br>
        <% if f.is_active? %>
          <span class="text-success font-weight-bold"><%= f.sale_status %></span>
        <% else %>
          <span class="text-secondary font-weight-bold"><%= f.sale_status %></span>
        <% end %>
        </p>
        <p><strong>￥<%= f.price.to_s(:delimited) %></strong></p>

      </div>
      <% end %>
    </div>
  </div>
  </div>
</div>