<div class="container">
  <div class='row'>
    <table class="table">
      <% if @result == [] %>
        <h3 class="text-center">検索結果がありません。</h3>
      <% elsif @search.present? %>
      <% search_word = @q.name_cont %>
    <h2 class="mb-3">検索結果 "<%= search_word %>"</h2>
      <thead class="thead-light">
        <tr>
          <th>商品画像</th>
          <th>商品名</th>
          <th>商品価格(税抜)</th>
          <th>販売状況</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @search.each do |f| %>
          <td><%= image_tag f.get_image(200,200), class: "image" %></td>
          <td><%= link_to f.name, item_path(f.id) %></td>
          <td>￥<%= f.price.to_s(:delimited) %></td>
          <td>
            <% if f.is_active? %>
              <span class="text-success font-weight-bold"><%= f.sale_status %></span>
            <% else %>
              <span class="text-secondary font-weight-bold"><%= f.sale_status %></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <h3 class="text-center">検索結果がありません。</h3>
      <% end %>
    </table>
  </div>
</div>