<div class="container">
  <div class="row">
    <!-- sidebar ジャンル検索が入る -->
    <div class="col-md-2 mx-auto">
      <%= render 'public/homes/sidebar', genres: @genres %>
    </div>
    <div class="col-md-10">
    <!-- textbox -->
      <div id="slideshow" style="position: relative; width: 100%; height: 400px; overflow: hidden;">
        <div class="slide" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
          <img class="slide" src="<%= asset_path('cheese-cake-7896245_640.jpg') %>" alt="Slide 1" style="width: 100%; height: 100%; object-fit: cover;">
          <img class="slide" src="<%= asset_path('cupcakes-5441972_640.jpg') %>" alt="Slide 2" style="width: 100%; height: 100%; object-fit: cover; display: none;">
          <img class="slide" src="<%= asset_path('france-confectionery-83373_640.jpg') %>" alt="Slide 3" style="width: 100%; height: 100%; object-fit: cover; display: none;">
          <img class="slide" src="<%= asset_path('strawberry-cake-3975569_640.jpg') %>" alt="Slide 4" style="width: 100%; height: 100%; object-fit: cover; display: none;">
          <img class="slide" src="<%= asset_path('sweets-847920_640.jpg') %>" alt="Slide 5" style="width: 100%; height: 100%; object-fit: cover; display: none;">
           <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <div class="slide-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 18px; background-color: rgba(0, 0, 0, 0.3); padding: 20px;">
              <span>
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には<a href="customers/sign_up">会員登録</a>が必要になります。
              </span>
            </div>
          </div>
        </div>
      </div>
    <!-- items -->
      <section class="my-3">
        <h1>新着商品</h1>
      <!-- 新着商品リストが入る  -->
        <div>
          <%= render 'public/items/index', items: @items %>
        </div>
        <div class="text-right mr-5">
          <%= link_to items_path do %>
            全ての商品を見る >
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
<%= javascript_include_tag 'slideshow' %>
