<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h3><%= @cus.family_name %><%= @cus.first_name %>さんの会員詳細</h3>
    　 <table>
    　    <tr>
    　      <th>会員ID</th>
    　      <td><%= @cus.id %></td>
    　    </tr>
    　    <tr>
    　      <th>氏名</th>
    　      <td><%= @cus.family_name %> <%= @cus.first_name %></td>
    　    </tr>
    　  </table>
    　  <!--テーブル使う方法とcolで整える方法とどっちがいいか後で考える。-->
      　<div class="row">
      　  <div class="col-lg-3">
      　    <p class="my-0">会員ID</p>
      　    <p class="my-0">氏名</p>
      　    <p class="my-0">フリガナ</p>
      　    <p class="my-0">郵便番号</p>
      　    <p class="my-0">住所</p>
      　    <p class="my-0">電話番号</p>
      　    <p class="my-0">メールアドレス</p>
      　    <p class="my-0">会員ステータス</p>
      　  </div>
      　  <div class="col-lg-8 col-md-6">
      　    <p class="my-0"><%= @cus.id %></p>
      　    <p class="my-0"><%= @cus.family_name %> <%= @cus.first_name %><p>
    　      <p class="my-0"><%= @cus.family_name_kana %> <%= @cus.first_name_kana %><p>
    　      <p class="my-0"><%= @cus.postcode %></p>
      　    <p class="my-0"><%= @cus.address %></p>
      　    <p class="my-0"><%= @cus.telephone_number %></p>
      　    <p class="my-0"><%= @cus.email %></p>
      　    <% if @cus.is_active? %>
      　      <p class="text-succese my-0">有効</p>
    　      <% else %>
    　        <p class="text-light my-0">退会</p>
  　        <% end %>
      　  </div>
      　</div>
      　<button class="btn">
        　  <%= link_to '編集する',  edit_admin_customer_path(@cus), class: "btn btn-success" %>
      　</button>
      　<button class="btn">
        　  <%= link_to '注文履歴一覧を見る',  admin_root_path, class: "btn btn-primary" %>
      　</button>
    </div>
  </div>
</div>
