<div class="container">
  <div class='row'>
    <table class="table">
      <% if @result == [] %>
        <h3 class="text-center">検索結果がありません。</h3>
      <% elsif @search.present? %>
      <% search_word = params[:q][:family_name_or_first_name_or_family_name_kana_or_first_name_kana_cont] if params[:q].present? %>
    <h2 class="mb-3">検索結果 "<%= search_word %>"</h2>
      <thead class="thead-light">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @search.each do |f| %>
          <td><%= f.id %></td>
          <td><%= link_to f.full_name, admin_customer_path(f.id) %></td>
          <td><%= f.email %></td>
          <td>
            <% if f.is_active? %>
              <span class="text-success font-weight-bold"><%= f.cus_status %></span>
            <% else %>
              <span class="text-secondary font-weight-bold"><%= f.cus_status %></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <h3 class="text-center">検索結果がありません。</h3>
      <% end %>
    </table>
  </div>
</div>