<div class="container py-5">
  <div class="row mb-3 text-center offset-1">
    <h3 class="px-4">ログイン</h3>
  </div>

  <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row m-4">
    <div class="text-center offset-1">
      <h4 class="px-4">会員の方はこちらからログイン</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7">
      <table class="table table-borderless">
        <!--メールアドレス-->
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %></td>
        </tr>

        <!--パスワード-->
        <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
        </tr>

        <!--ログインボタン-->
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary pr-5 pl-5" %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
  <div class="row m-4">
    <div class="text-center offset-1">
      <h4 class="px-4">会員登録がお済みでない方</h4>
      <div class="ml-5">
        <%= link_to "こちら", new_customer_registration_path %>から新規登録をしてください
      </div>
    </div>
  </div>
</div>