<div class="container mt-5">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-md-2 mx-auto">
      <%= render 'public/homes/sidebar', genres: @genres %>
    </div>

    <div class="col-md-10 d-flex">
      <!-- 商品画像 -->
      <div><%= image_tag @item.get_image(400,400), class:"image" %></div>

      <!-- 商品情報 -->
      <div class="col-md-6 mx-auto">
        <h2 class="text-weight-bold"><%= @item.name %></h2>
        <p class="mt-3 mb-5"><%= @item.introduction %></p>

        <!-- 商品価格 -->
        <div class="mb-5">
          <span class="h4 text-weight-bold"><%= number_to_currency(@item.taxed_price, unit: "￥",strip_insignificant_zeros: true) %></span>
          <small>(税込)</small>
        </div>

        <!-- 販売状況に応じた表示 -->
        <% if @item.is_active == true %>

          <!-- カートに入れるフォーム -->
          <% if current_customer %>
            <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
              <div class="d-flex">
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.select :amount, *[1..10].to_a, {include_blank: "--個数選択--"}, class:"form-select" %>
                <%= f.submit "カートに入れる", class:"btn btn-success mx-auto" %>
              </div>
            <% end %>
          <% end %>

          <!-- 販売停止中のメッセージ -->
        <% else %>
          <h4 class="text-danger">ただいま販売停止中の商品です。</h4>
        <% end %>

        <!-- ログインしていない場合のメッセージ -->
        <% unless current_customer %>
          <p>商品を購入するには<%= link_to "会員登録", new_customer_registration_path %>してください。<br>
          会員登録がお済みの方は、<%= link_to "ログイン", new_customer_session_path %>してください。</p>
        <% end %>

      </div>
    </div>
  </div>
</div>