<header class="mb-3">
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #0e357f;">
    <div class="container" style="position: relative">
      <a class="navbar-brand" href="/">
        <%= image_tag src="sato.cake/logo_transparent_orange_cccp10", size: '100x80' %>
      </a>
      <% if customer_signed_in? %>
        <p class="text-light" style="position: absolute; right: 33%; top: 30px">ようこそ、<%= current_customer.full_name %>さん！</p>
      <% end %>
      <button class="navbar-toggler openbtn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        <span></span><span></span><span></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto font-formal gnavi">
        </ul>
        <!--ul-2を適用すれば、画面幅991px以下において、下線の長さが文字と同じくらいになる。-->
        <ul class="navbar-nav gnavi ul- font-formal" style="">

          <% if admin_signed_in? %>
          <!--管理者ログイン後-->
            <li>
              <%= link_to admin_items_path,class: 'nav-link text-light a' do %>
                <i class="fa-solid fa-cake-candles"></i> 商品一覧
              <% end %>
            </li>
            <li>
              <%=  link_to admin_customers_path,class: 'nav-link text-light a' do %>
                <i class="fas fa-users"></i> 会員一覧
              <% end %>
            </li>
            <li>
              <%= link_to admin_root_path, class: 'nav-link text-light a' do %>
                <i class="fa-solid fa-clock-rotate-left"></i> 注文履歴一覧
              <% end %>
            </li>
            <li>
              <%=  link_to admin_genres_path ,class: 'nav-link text-light a' do %>
                <i class="fa-solid fa-image"></i> ジャンル一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, class: 'nav-link text-light a', method: :delete do %>
               <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          <% elsif customer_signed_in? %>
          <!--サインイン後-->
            <li>
              <%= link_to customers_my_page_path(current_customer), class: 'nav-link text-light a' do %>
                <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to items_path,class: 'nav-link text-light a' do %>
                <i class="fa-solid fa-cake-candles"></i> 商品一覧
              <% end %>
            </li>
            <li>
              <%= link_to cart_items_path, class: 'nav-link text-light a' do %>
               <i class="fa-solid fa-cart-shopping"></i> カート
              <% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light a' do %>
                <i class="fas fa-sign-out-alt"></i> Log out
              <% end %>
            </li>
          <% else %>
          <!--サインアウト後-->
            <li>
              <%= link_to about_path,class: 'nav-link text-light a' do %>
                <i class="fas fa-link"></i> About
              <% end %>
            </li>
            <li>
              <%= link_to items_path,class: 'nav-link text-light a' do %>
                <i class="fa-solid fa-cake-candles"></i> 商品一覧
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_registration_path,class: 'nav-link text-light a' do %>
                <i class="fas fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path ,class: 'nav-link text-light a' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="mx-auto mt-3">
      <%= render "layouts/search", q: @q %>
    </div>

  </nav>
  <div style="height: 10px; background-color: #f9bb02"></div>
</header>